body {
  background-image: url(https://wallpaper-house.com/data/out/9/wallpaper2you_347834.jpg);
  font-family: "Iceland", cursive;
}

.App {
  text-align: center;
  padding-top: 50px;
}

.App h1 {
  font-size: 80px;
  color: white;
}

.App h2 {
  padding-top: 50px;
  margin: 0 auto;
  font-size: 35px;
  color: white;
}

.App a {
  color: #9aeadd;
}

.App-footer {
  text-align: center;
  font-size: smaller;
  color: white;
}
