h3 {
  font-family: "Iceland", cursive;
}

.Meaning {
  font-family: "Cairo", sans-serif;
  font-size: 18px;
}

.Meaning .definition {
  font-weight: bolder;
  color: #0c154d;
  font-size: 20px;
}

.Meaning .example {
  margin-top: 15px;
  font-size: 18px;
  opacity: 0.7;
  font-style: italic;
}
